@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: #444;
  border-radius: 8px;
  max-width: 800px;
}
.wrapper.report {
  grid-template-columns: repeat(2, auto);
}

.box {
  color: #fff;
  padding: 10px;
  font-size: 120%;
  text-align: start;
}
.gridHeader {
  text-align: center;
  font-size: 130%;
}
button.box {
  background-color: #444;
}
.row {
  display: contents;
}
